<div class="palette palette-settings panel panel-default">
	<div class="panel-heading">
		<button type="button" class="close" data-action="close" title="Close">&times;</button>
		<h4>Settings</h4>
	</div>

	<div class="panel-body">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#general" data-toggle="tab">General</a></li>
			<li><a href="#import" data-toggle="tab">Import</a></li>
		</ul>
		<form class="form-horizontal">
			<div class="tab-content">
				<div class="tab-pane active" id="general">
					<div class="control-group hide">
						<label class="control-label">Position</label>
						<div class="controls">
							<label class="checkbox">
								<input name="position" type="checkbox" value="auto"> Auto
							</label>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Layout</label>
						<div class="controls">
							{{#each layouts}}
							<label class="radio inline">
								<input name="layout" type="radio" value="{{ type }}" {{#if selected }}checked{{/if}}> {{ label }}
							</label>
							{{/each}}
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Stylesheet</label>
						<div class="controls">
							{{#each stylesheets}}
							<label class="radio inline">
								<input name="stylesheet" type="radio" value="{{ type }}" {{#if selected }}checked{{/if}}> {{ label }}
							</label>
							{{/each}}
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Style prefix</label>
						<div class="controls">
							<input name="prefix" type="text" placeholder="Style class prefix&hellip;" value="{{ settings.prefix }}">
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Padding</label>
						<div class="controls">
							<div class="input-append">
								<input name="padding" type="number" min="0" required placeholder="Sprite padding&hellip;" value="{{ settings.padding }}">
								<span class="add-on">px</span>
							</div>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">Data URI</label>
						<div class="controls">
							<label class="checkbox">
								<input name="uri" type="checkbox" value="true" {{#if settings.uri }}checked{{/if}}> Include encoded image in CSS
							</label>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="import">
					<div class="control-group">
						<label class="control-label">Paste import here</label>
						<div class="controls">
							<textarea name="import" rows="10"></textarea>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div class="panel-footer">
		<div class="btn-toolbar">
			<div class="btn-group">
				<a href="#" class="downloads-export btn btn-small btn-success" download="stitches"><i class="icon-download-alt icon-white"></i> Export</a>
			</div>
			<div class="btn-group">
				<button class="btn btn-small btn-info" data-action="close" title="Save"><span>Save</span></button>
				<button class="btn btn-small btn-info" data-action="close" title="Close"><span>Close</span></button>
			</div>
		</div>
	</div>
</div>